<div class="base">
  <details>
    <summary>Room information</summary>
    <p><div id='room-url'><%= room_url @room %></div></p>
  </details>

  <div id='results-panel'>
    <p>Your choice: <span class='number'><%= @last_choice %></span></p>
    <p>Average: <span class='number'><%= @average %></span></p>
  </div>

  <% Choice.list.each do |number| %>
    <%= form_with model: @choice, url: choice_room_path(@room) do |form| %>
      <%= form.hidden_field :room_id, value: @room.id %>
      <%= form.hidden_field :choice, value: number %>
      <%= button_tag number, class: 'button vote' %>
    <% end %>
  <% end %>

  <%= form_with model: @choice, url: reset_room_path(@room) do |form| %>
    <%= form.hidden_field :room_id, value: @room.id %>
    <%= button_tag 'reset', class: 'button reset'  %>
  <% end %>

</div>


<script type="text/javascript">
  document.getElementById('room-url').addEventListener('click', function() {
    var range = document.createRange();
    range.selectNode(this);
    window.getSelection().addRange(range);
  });
</script>
              

<% if @last_choice %>
  <% unless @average %>
    <script type="text/javascript">
      setInterval(function(){
        var xhr = new XMLHttpRequest();
        xhr.open('GET', '<%= average_room_path(@room) %>', true);
        xhr.responseType = 'json';
        xhr.onload = function(e) {
          if (xhr.readyState === 4) {
            if (xhr.status === 200) {
              var response = xhr.response;
              console.log(response);
              if (response.average) {
                // 画面をリロードする
                location.reload();
              }
              //if (response.last_choice) {
              //  console.log(response);
              //}
            }
          }
        };
        xhr.send(null);
      }, 1000);

    </script>
  <% end %>
<% end %>
